.dmenurc
Cemu/
CurseForge/
EmuDeck/
Epic/
GitHub Desktop/
KDE/
PCSX2/
Proton Pass/
Proton/
QtProject.conf
Ryujinx/
Trolltech.conf
Upscayl/
arkrc
azahar-emu/
background
balenaEtcher/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
bluedevilreceiverrc
btop/
cable/
cachyos-hello.json
cachyos/
cava/
chrome-flags.conf
chromium/
citron/
code-flags.conf
cosmic/
dconf/
discord/
dolphin-emu/
dolphinrc
drkonqirc
eden/
filetypesrc
glib-2.0/
go/
illogical-impulse/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kded6rc
kdedefaults/
kdialogrc
kglobalshortcutsrc
kiorc
knfsshare
konsolesshconfig
krdpserverrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
libinput-gestures.conf
mako/
mgba/
micro/
mimeapps.list
neofetch/
netlify/
nvim/
occt/
ow-electron/
pavucontrol-qt/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
plasmawindowed-appletsrc
plasmawindowedrc
powerdevilrc
powermanagementprofilesrc
pulse/
qBittorrent/
qalculate/
rio/
rpcs3/
session/
solaar/
spotify/
systemd/
systemmonitorrc
systemsettingsrc
thorium-flags.conf
trashrc
user-dirs.dirs
user-dirs.locale
waybar/
wofi/
xdg-desktop-portal-kderc
xsettingsd/
yuzu/
zshrc.d/
karboncalligraphyrc
kritadisplayrc
kritarc
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
kdeglobals
fuzzel
vlc
haruna
harunarc
libreoffice
media-downloaderrc
TIPP10/
PlasmaDiscoverUpdates
kate-externaltoolspluginrc
kate/
katerc
katevirc
konsolerc
browsh
discoverrc
exercism/
ghc/
octave/
partitionmanagerrc
rstudio/
rtc-credentials.json
uv/
wasistlos/

*.tar.*
*.tar
*.xz
*.gz
GIMP
JetBrains/
QtProject/
RStudio/
Rambox/
VirtualBox/
autostart/
